<header class="blog-header">
    <div class="wrapper">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{{@blog.title}}}" /></a>{{/if}}
        <h1 class="blog-title"><a title="{{@blog.title}}" href="{{@blog.url}}">{{{@blog.title}}}</a></h1>
        <p class="blog-description">{{@blog.description}}</p>
    </div>
    <nav class="blog-navigation" id="blog-navigation">
        <div class="wrapper">
            <span class="blog-menu">
                <a href="{{@blog.url}}">Home</a>
            </span>
        </div>
    </nav>
</header>