<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA_Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/default.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nprogress.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/highlight.css"}}" />

    {{! Additional head data by ghost }
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{> header}}
    {{{body}}}
    {{> footer}}

    {{! Additional body footer by ghost, mainly jQuery }}
    {{ghost_foot}}
    <script src="{{asset "js/jquery.sticky.js"}}"></script>
    <script src="{{asset "js/nprogress.js"}}"></script>
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>
        // Show progress bar
        NProgress.start();

        // Increase interval randomly
        var interval = setInterval(function() { NProgress.inc(); }, 1000);

        // Finish when page fully loaded
        jQuery(window).load(function() {
            clearInterval(interval);
            NProgress.done();
        });

        // Start bar when exiting the page
        jQuery(window).unload(function() {
            NProgress.start();
        });

        // Sticky navigation bar
        $(document).ready(function() {
            $("#blog-navigation").sticky({ topSpacing: 0 });
        });

        // Syntax highlight
        hljs.initHighlightingOnLoad();
    </script>
</body>
</html>
